<table class="marks">
    <tr class="mrow">
        <td class="mcell">
            {% if mcells[0] -%}
            1
            {% endif -%}
        </td>
        <td class="mcell">
            {% if mcells[1] -%}
            2
            {% endif -%}
        </td>
        <td class="mcell">
            {% if mcells[2] -%}
            3
            {% endif -%}
        </td>
    </tr>
    <tr class="mrow">
        <td class="mcell">
            {% if mcells[3] -%}
            4
            {% endif -%}
        </td>
        <td class="mcell">
            {% if mcells[4] -%}
            5
            {% endif -%}
        </td>
        <td class="mcell">
            {% if mcells[5] -%}
            6
            {% endif -%}
        </td>
    </tr>
    <tr class="mrow">
        <td class="mcell">
            {% if mcells[6] -%}
            7
            {% endif -%}
        </td>
        <td class="mcell">
            {% if mcells[7] -%}
            8
            {% endif -%}
        </td>
        <td class="mcell">
            {% if mcells[8] -%}
            9
            {% endif -%}
        </td>
    </tr>
</table>